
model4/model-best/config.cfg
model4/model-best/meta.json
model4/model-best/tagger/cfg
model4/model-best/tagger/model
model4/model-best/tokenizer
model4/model-best/trainable_lemmatizer/cfg
model4/model-best/trainable_lemmatizer/model
model4/model-best/trainable_lemmatizer/trees
model4/model-best/transformer/cfg
model4/model-best/transformer/model
model4/model-best/vocab/key2row
model4/model-best/vocab/lookups.bin
model4/model-best/vocab/strings.json
model4/model-best/vocab/vectors
model4/model-best/vocab/vectors.cfg
model4/model-last/config.cfg
model4/model-last/meta.json
model4/model-last/tagger/cfg
model4/model-last/tagger/model
model4/model-last/tokenizer
model4/model-last/trainable_lemmatizer/cfg
model4/model-last/trainable_lemmatizer/model
model4/model-last/trainable_lemmatizer/trees
model4/model-last/transformer/cfg
model4/model-last/transformer/model
model4/model-last/vocab/key2row
model4/model-last/vocab/lookups.bin
model4/model-last/vocab/strings.json
model4/model-last/vocab/vectors
model4/model-last/vocab/vectors.cfg
